#podcast-container.recommendations {
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

#podcast-container.recommendations img {
  border-radius: 32px;
  width: 100px;
  height: 100px;
}
