* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
body {
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.btn {
  color: white !important;
  cursor: pointer;
  padding: 10px 16px;
  font-weight: 450;
  font-size: 14px;
  line-height: 24px;
  border-radius: 32px;
  outline: none;
  transition: all 0.3s ease-in;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
}

.white {
  background-color: white;
}
